/* Estilos para la pagina del carrito */

#carrito-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

#carrito-container .card {
    background: #fff;
    color: black !important;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.card img {
    width: 120px;
    height: auto;
    border-radius: 8px;
}

.card-content {
    flex-grow: 1;
}

.quitar-button {
    margin-top: 0.2rem;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: rgb(255, 0, 76);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quitar-button:hover {
    background-color: violet;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.card-info {
    flex: 1;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#total-container {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}


/*Modal confirmar compra*/
#modalConfirmarCompra {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

#modalConfirmarCompra.mostrar {
    display: flex;
    /* Mostramos el modal como flexbox */

}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    color: black;
}

#modalConfirmarCompra img{
    width: 40%;
}