<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Store</title>
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/10339/10339556.png">
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/cliente/bienvenida.css">
</head>

<body>
    <div class="alumnos-container">
        <p>Freijomil Bruno</p>
        <p>Gonzalez Paula</p>
        <p>Sanchez Franco Nicolas</p>
    </div>
    <header>
        <img src="../../assets/imgs/gameLogo.jpg" alt="shop logo">
        <h1>G4ME $T0RE</h1>
        
    </header>
    <!-- Barra de navegación -->
    <nav>
        <ul>
            <!-- Esto no se muestra en la bienvenida -->
            <!-- <li><a href="bienvenida.html" class="active">Inicio</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="carrito.html">Carrito</a></li>
            <li><a href="ticket.html">Ticket</a></li> -->
        </ul>
    </nav>

    <!-- Contenedor principal -->
    <main>
        <div id="bienvenida-container">
            <h1 style="text-align: center;">Bienvenida</h1>

            <form id="form-bienvenida">
                <label for="nombre-bienvenida">¿Cómo te llamás?</label>
                <input type="text" id="nombre-bienvenida" name="nombre">
                <button type="submit" id="btn-bienvenida" class="button deshabilitarButton">COMENZAR</button>
            </form>
        </div>
    </main>

    <!-- Pie de página -->
    <footer>
        <a href="../administrador/login.html" class="button">Login admin</a>
    </footer>
</body>

<script src="../../scripts/utils.js" defer></script>
<script src="../../scripts/cliente/bienvenida.js" defer></script>

</html>