<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Integrador</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/cliente/carrito.css">
</head>

<body>
    <div class="alumnos-container">
        <p>Freijomil Bruno</p>
        <p>Gonzalez Paula</p>
        <p>Sanchez Franco Nicolas</p>
    </div>
    <header>
        <img src="../../assets/imgs/gameLogo.jpg" alt="shop logo">
        <h1>G4ME $T0RE</h1>
        <button type="button" id="btn-darkMode"> ☀️ </button>
    </header>
    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li class="salir-button"><a href="bienvenida.html">Salir</a></li>
            <li><a href="productos.html">Productos</a></li>
            <!-- <li><a href="carrito.html" class="active">Carrito</a></li> -->
        </ul>
    </nav>

    <!-- Contenedor principal -->
    <main>
        <!-- Aquí irá el contenido dinámico -->
        <h1 style="text-align: center;">Carrito</h1>
        <div id="carrito-container">

        </div>
    </main>

    <!-- Pie de página -->
    <footer>
        <a href="ticket.html" class="footer-btn">Confirmar compra</a>
    </footer>
</body>

<script src="../../scripts/utils.js" defer></script>
<script src="../../scripts/cliente/carrito.js" defer></script>

</html>