<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Store - Carrito</title>
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/10339/10339556.png">
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/cliente/carrito.css">
</head>

<body>
    <div class="alumnos-container">
        <p>Freijomil Bruno</p>
        <p>Gonzalez Paula</p>
        <p>Sanchez Franco Nicolas</p>
    </div>
    <header>
        <img src="../../assets/imgs/gameLogo.jpg" alt="shop logo">
        <h1>G4ME $T0RE</h1>
        <button type="button" id="btn-darkMode"> ☀️ </button>
    </header>
    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li class="salir-button"><a href="bienvenida.html">Salir</a></li>
            <li><a href="productos.html">Productos</a></li>
            <!-- <li><a href="carrito.html" class="active">Carrito</a></li> -->
        </ul>
    </nav>

    <!-- Contenedor principal -->
    <main>
        <!-- Aquí irá el contenido dinámico -->
        <h1 style="text-align: center;">Carrito</h1>
        <div id="carrito-container">

        </div>

        <div id="total-container">

        </div>
    </main>

     <!-- modal confirmar compra -->
    <div id="modalConfirmarCompra">
        <div class="modal-content">
            <h2>Confirmar compra</h2>
            <p>¿Desea confirmar la compra?</p>
            <button type="button" id="generarTicketButton" class="button">Confirmar</button>
            <button type="button" id="cancelarCompraButton" class="button">Cancelar</button>
        </div>
    </div>


    <!-- Pie de página -->
    <footer>
        <button type="button" id="confirmarCompraButton" class="button">Confirmar compra</button>
    </footer>
</body>

<script src="../../scripts/utils.js" defer></script>
<script src="../../scripts/cliente/carrito.js" defer></script>

</html>