<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Store - Productos</title>
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/10339/10339556.png">
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/cliente/productos.css">
</head>

<body>
    <div class="alumnos-container">
        <p>Freijomil Bruno</p>
        <p>Gonzalez Paula</p>
        <p>Sanchez Franco Nicolas</p>
    </div>
    <header>
        <img src="../../assets/imgs/gameLogo.jpg" alt="shop logo">
        <h1>G4ME $T0RE</h1>
        <button type="button" id="btn-darkMode"> ☀️ </button>
    </header>
    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li class="salir-button"><a href="bienvenida.html">Salir</a></li>
        </ul>
    </nav>

    <!-- Contenedor principal -->
    <main>
        <h1 style="text-align: center;">Productos</h1>
        <div class="container-buttons">
            <p>Filtrar por:</p>
            <button type="button" name="todos-button">Todos</button>
            <button type="button" name="xbox-button">Xbox</button>
            <button type="button" name="play-button">PlayStation</button>
        </div>
        <!-- Aquí irá el contenido dinámico -->

        <div id="productos-container">

        </div>
    </main>

    <!-- Pie de página -->
    <footer>
        <a href="carrito.html" class="footer-btn">Carrito</a>
    </footer>

</body>

<script src="../../scripts/utils.js" defer></script>
<script src="../../scripts/cliente/productos.js" defer></script>

</html>