<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Store - Ticket</title>
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/10339/10339556.png">
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/cliente/ticket.css">
</head>

<body>
    <div class="alumnos-container">
        <p>Freijomil Bruno</p>
        <p>Gonzalez Paula</p>
        <p>Sanchez Franco Nicolas</p>
    </div>
    <header>
        <img src="../../assets/imgs/gameLogo.jpg" alt="shop logo">
        <h1>G4ME $T0RE</h1>
        <button type="button" id="btn-darkMode"> ☀️ </button>
    </header>
    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li class="salir-button"><a href="bienvenida.html">SALIR</a></li>
            <!-- <li><a href="productos.html">Productos</a></li>
            <li><a href="carrito.html">Carrito</a></li> -->
        </ul>
    </nav>

    <!-- Contenedor principal -->
    <main>
        <!-- Aquí irá el contenido dinámico -->
        
        <div id="ticket-container">

        </div>
    </main>

    <!-- Pie de página -->
    <footer>
        <p>GRACIAS POR SU COMPRA</p>
    </footer>
</body>

<script src="../../scripts/utils.js" defer></script>
<script src="../../scripts/cliente/ticket.js" defer></script>

</html>