<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/administrador/alta-producto.css">
</head>
<body>
    <div class="alumnos-container">
        <p>Freijomil Bruno</p>
        <p>Gonzalez Paula</p>
        <p>Sanchez Franco Nicolas</p>
    </div>
    <header>
        <img src="../../assets/imgs/gameLogo.jpg" alt="shop logo">
        <h1>G4ME $T0RE</h1>
    </header>

    <form>
        <h1>Ingresar datos de nuevo producto</h1>

        <label>Nombre:</label>
        <input type="text" name="" id="input-nombre">

        <label>Plataforma:</label>
        <select id="input-plataforma">
            <option value="Playstation">Playstation</option>
            <option value="Xbox">Xbox</option>
        </select>

        <label>Precio:</label>
        <input type="text" name="" id="input-precio">

        <label>URL de imagen:</label>
        <input type="text" name="" id="input-urlimg">

        <button id="agregar-button" type="button">Agregar</button>
        <button id="volver-button" type="button">Volver</button>
    </form>
</body>
<script src="../../scripts/administrador/alta-producto.js"></script>
</html>