<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/administrador/dashboard.css">
</head>

<body>

    <div class="alumnos-container">
        <p>Freijomil Bruno</p>
        <p>Gonzalez Paula</p>
        <p>Sanchez Franco Nicolas</p>
    </div>

    <header>
        <img src="../../assets/imgs/gameLogo.jpg" alt="shop logo">
        <h1>G4ME $T0RE</h1>
        <button type="button" id="btn-darkMode"> ☀️ </button>
    </header>

    <main>
        <h1 style="text-align: center;">Productos</h1>
        <div class="container-buttons">
            <p>Filtrar por:</p>
            <button type="button" id="todos-button" class="button">Todos</button>
            <button type="button" id="xbox-button" class="button">Xbox</button>
            <button type="button" id="play-button" class="button">PlayStation</button>
        </div>

        <div class="contenedor-altaproducto">
            <h2 class="button alta-producto" id="altaproducto-button">Dar de alta NUEVO PRODUCTO</h2>
        </div>
        <!-- Aquí irá el contenido dinámico -->

        <div id="productos-container"></div>
    </main>
</body>
<script src="../../scripts/administrador/dashboard.js" defer></script>

</html>