/* Para definir estilos generales que se aplican a toda la aplicación. Ejemplo, el navbar o el header. */

/* ===== Navbar ===== */
nav {
    background-color: grey;
    /* Color de fondo oscuro */
    padding: 15px 0;
    /* Espaciado superior e inferior */
    text-align: center;
    /* Centra el contenido */
}

nav ul {
    list-style: none;
    /* Quita los estilos de lista */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* Centra los elementos */
    gap: 20px;
    /* Espacio entre elementos */
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: purple;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
    background-color: violet;
}

.active {
    background-color: purple;
    /* Color de fondo activo */
    color: #fff;
    /* Color de texto activo */
}

/* ===== Navbar FIN ===== */

/* ===== header logo ===== */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    /* permite reacomodar en pantallas chicas */
}

header img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alumnos-container {
    display: block;
    gap: 1rem;
    font-weight: 500;
    flex-wrap: wrap;
}

.alumnos-container p {
    margin: 0;
}

/* footer */
footer {
    padding: 1rem;
    background-color: grey;
    text-align: center;
}

.footer-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-btn:hover {
    background-color: violet;
}


/* Responsive */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .alumnos-container {
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    header img {
        width: 100px;
    }

    .footer-btn {
        width: 100%;
        font-size: 1.1rem;
    }
}

/* ===== header logo FIN ===== */